.btn-next-page {
    border: 1px solid var(--dsc-color-btn-primary);
    border-radius: 4px;
    padding: 10px;
    color: var(--dsc-color-btn-primary);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--dsc-color-btn-inverse);
    cursor: pointer;
}