.product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product-details-top img {
    width: 220px;
}

.product-details-bottom {
    padding: 10px 20px;
}

.product-details-bottom h3 {
    color: var(--dsc-color-font-secundary);
    font-size: 20px;
}

.product-details-bottom h4 {
    color: var(--dsc-color-font-primary);
    font-size: 12px
}

.product-details-bottom p {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
    margin: 10px 0;
}

#product-details {
    padding: 20px 0;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
}
