.catalog-card-top {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.catalog-card-top img {
    width: 150px;
    height: 150px;
}

.catalog-card-bottom {
    padding: 10px 20px;
    min-height: 110px;
}

.catalog-card-bottom h3 {
    color: var(--dsc-color-font-secundary);
    font-size: 20px;
}

.catalog-card-bottom h4 {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}